
<ul class="thumbnails">
    <% _.each(players, function(player) { %>
    <li class="span4" id="<%= player.twitter %>"> <!-- Name plutôt que Id : see @mklabs -->
        <div class="thumbnail" style="
                border:none;
                -webkit-box-shadow:none;
                -moz-box-shadow: none;
                box-shadow: none;
            ">
            <img src="pictures/avatars/<%= player.picture %>.jpg" style="width: 180px; height: 180px;" class="img-circle">
            <div class="caption">
                <h3><%= player.firstName %> <%= player.lastName %></h3>
                <p>
                    <ul class="unstyled">
                        <li>
                            <h4><a href="https://twitter.com/<%= player.twitter %>">
                                @<%= player.twitter %>
                            </a></h4>
                        </li>
                        <li>
                            <h4><%= player.framework %></h4>
                        </li>
                    </ul>
                </p>
                <p>
                    <label class="checkbox">
                        <input type="checkbox" value="" name="<%= player.twitter %>">
                        Sélectionne @<%= player.twitter %> pour 1 combat
                    </label>
                </p>
            </div>
        </div>
    </li>
    <% }); %>
</ul>

<div name="alert" class="alert alert-info">
    <h4>Sélectionne 2 combattants pour 1 combat</h4>
</div>


