<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">JsBattle</a>
      <div class="navbar-content">
        <ul class="nav  pull-right">
          <li class="active">
            {{#linkTo index}}Ring{{/linkTo}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">{{outlet}}</div>
