<div class="page-header">
    <h1>Le combat le plus attendu de l'histoire du web</h1>

    <p>Il ne doit en rester qu'un</p>
</div>
<p class="lead">Les Joueurs</p>
<div class="row">
    <div class="span4" ng-repeat="p in players">
        <div class="well">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object img-circle" ng-src="pictures/avatars/{{p.twitter}}.jpg" width="64" height="64">
                </a>
                <div class="media-body">
                    <h4><a ng-href="#/player/{{p.id}}">{{p.firstName}} {{p.lastName}}</a></h4>

                    <p><a target="_blank" ng-href="http://twitter.com/{{p.twitter}}">{{p.twitter}}</a> - {{p.framework}}</p>

                    <label class="checkbox" for="checkbox">
                        <input type="checkbox" value="true" id="checkbox" name="checkbox" ng-model="p.isReady">
                        <span>prêt au combat</span>
                    </label>

                    <button ng-click="removePlayer(p)">déclare forfait</button>
                </div>
            </div>
        </div>
    </div>
</div>
<a class="btn" ng-href="#/player/">Ajouter un joueur</a>
