<div class="page-header">
    <h1>Le combat le plus attendu de l'histoire du web</h1>

    <p>Il ne doit en rester qu'un</p>
</div>
<p class="lead">Les Joueurs</p>
<div class="row">
    <div class="span4" ng-repeat="p in players">
        <div class="well">
            <div class="media">
                <a class="pull-left" href="#" ng-show="p.twitter">
                    <img class="media-object img-circle" src="/pictures/avatars/{{p.twitter}}.jpg" width="64" height="64" ng-cloak>
                </a>
                <div class="media-body">
                    <h4><a href="#/player/{{p.id}}">{{p.firstName}} {{p.lastName}}</a></h4>

                    <p><a href="http://twitter.com/{{p.twitter}}" target="_blank">@{{p.twitter}}</a> - {{p.framework}}
                    </p>
                    <label class="checkbox" for="checkbox">
                        <input type="checkbox" value="true" id="checkbox" name="checkbox" ng-model="p.ready">
                        <span>prêt au combat</span>
                    </label>
                    <button ng-click="removePlayer(p)">déclare forfait</button>
                </div>
            </div>
        </div>
    </div>
</div>
<a class="btn" href="#/player/">Ajouter un joueur</a>
<a class="btn" ng-click="createFight()" ng-show="readyToFight()">Envoyer sur le ring</a>
<br><br>
<div ng-repeat="fight in fights">
    <div class="row">
        <div class="span5">
            <player-score increment-score="incrementScore(fight, 'opponentOneScore')"
                          decrement-score="decrementScore(fight, 'opponentOneScore')"
                          fight="fight"
                          opponent="opponentOne"
                          opponent-score="opponentOneScore"></player-score>
        </div>
        <div class="span2 centered">
            <br>
            <br>
            <h4>VS</h4>
        </div>
        <div class="span5">
            <player-score increment-score="incrementScore(fight, 'opponentTwoScore')"
                          decrement-score="decrementScore(fight, 'opponentTwoScore')"
                          fight="fight"
                          opponent="opponentTwo"
                          opponent-score="opponentTwoScore"></player-score>
        </div>
    </div>
    <a class="btn" ng-click="removeFight(fight)">Annuler le combat</a>
    <br><br>
</div>
